/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --tw-bg-opacity: 1;
    background-color: #292B32;
}

.light {
    --tw-bg-opacity: 1;
    background-color: #F7F7F8;
}